.nav {
  $navLinkPaddingX: 25px;

  &__toggler {
    display: block;
    margin: 0 20px;
    padding: 10px 5px;

    color: #fff;
    font-size: 20px;

    transition: color 0.3s;

    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:hover {
      color: #1fc8db;
    }

    &::before {
      content: "=";
    }

    @include onDesktop {
      display: none;
    }
  }

  &--open &__toggler::before {
    content: "x";
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    height: 0;
    margin: 0 0 - $navLinkPaddingX;
    padding: 0;

    list-style: none;
    overflow: hidden;

    @include onDesktop {
      flex-direction: row;
      height: auto
    }
  }

  &--open &__list {
    height: auto;
  }

  &__link {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    height: 50px;
    padding: 0 $navLinkPaddingX;

    font-size: 20px;
    color: #fff;
    text-decoration: none;

    transition: color 0.3s;

    &:hover {
      color: #1fc8db;
    }
  }

}
